{
  "env": {
    "browser": true,
   "es6": true
  },
  "rules": {
    "no-console": 0,
    "no-empty": [1, { "allowEmptyCatch": true }],
 "quotes": ["error", "single"]
  },
  "extends": "eslint:recommended"
}
